html {
    scroll-behavior: smooth;
  }  

body {
    margin: 0;
    padding: 0;
}

:root {
    --altura-nav-bar: 7vh;
    --altura-home-page: calc(100vh - var(--altura-nav-bar));
    --altura-quem-somos: calc(var(--altura-home-page) - 100px);
    --tamanho-paragrafo: 25px
}

                                /* NAVBAR */
.nav-bar {
    position: fixed;
    width: 100%;
    height: var(--altura-nav-bar);
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar a {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(220, 220, 220);
    padding: 0 20px;
}

.nav-bar a:hover{
    text-decoration: underline;
}

.logo{
    background-image: url('imagens/navbar.png');
}


                                /* HOMEPAGE */
.content-home-page {
    background-image: url(./imagens/banner.png);
    background-size: cover;
}

.text-home-page {
    height: var(--altura-home-page);
    width: 55%;
    background-color: rgba(33, 32, 32, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-home-page h1 {
    width: 60%;
    font-size: 91px;
    margin: 0px;
    color: rgb(227, 186, 111);
    margin-top: 100px;
}

.content-home-page h2 {
    width: 60%;
    font-size: 60px;
    margin: 0px;
    color: rgb(40, 37, 37);
}

.content-home-page button {
    width: 30%;
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(76, 23, 23);
    cursor: pointer;
}

.content-home-page button:hover{
    text-decoration: underline;
}


                                /* QUEM SOMOS */
.quem-somos {
    display: flex;
    height: fit-content;
    background-image: url(./imagens/quem_somos.png);
    background-size: cover;
}

.logo_quem_somos {
    width: 20%;
}

.text-quem-somos {
    height: var(--altura-quem-somos);
    width: 80%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-quem-somos h3 {
    padding-bottom: 30px;
    width: 50%;
    margin-bottom: 30px;
    color: rgb(192, 122, 64);
    margin-top: 50px;    
    font-size: 40px;
}

.text-quem-somos p {
    width: 50%;
    margin: 0;
    color: rgb(43, 27, 14);
    font-weight: bold;
    margin-left: 200px;
    font-size: var(--tamanho-paragrafo);
}


                                /* SERVIÇOS */
.servicos{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}

.servicos_conteudo{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-bottom: 100px;
}

.img_servicos{
    background-image: url('./imagens/servicos2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
}

.text_servicos{
    background-color: rgb(43, 27, 14);
    width: 50%;
    height: 300px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
}

.servicos h3{
    align-self: center;
    font-size: 40px;
    color: rgb(192, 122, 64);
}

.servicos p{    
    margin: 0;
    padding: 0;
    align-self: center;
    color: white;
    font-weight: bold;
    font-size: var(--tamanho-paragrafo);
    width: 100%;
}

.servicos_funcionalidades{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sensor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-left: 70px;
}

.mysql{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
}

.sensor_img{
    background-image: url('imagens/sensor.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
}

.mysql_img{
    background-image: url('imagens/mysql.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
    align-self: center;
}

.servicos_funcionalidades h4{
    font-size: 35px;
    color: rgb(192, 122, 64);
}

.servicos_funcionalidades p{
    width: 90%;
    color: rgb(43, 27, 14);
    font-size: var(--tamanho-paragrafo);
}

                                /* CALCULADORA */
.calculadora{
    background-image: url('imagens/calculadora.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculadora_text{
    background-color: white;
    height: fit-content;
    padding: 30px 150px;
}

.calculadora_text h3{
    color: rgb(192, 122, 64);
    font-size: 45px;
    align-self: center;
}

.calculadora_text p{
    color: rgb(43, 27, 14);
    font-size: 50px;
    font-size: var(--tamanho-paragrafo);
    align-self: center;
}


                                /* FALE CONOSCO */
.fale-conosco{
    display: flex;
    flex-direction: column;
}

.fale-conosco h3{
    align-self: center;
    font-size: 45px;
    color: rgb(192, 122, 64);
    margin-bottom: 5px;
}

.img-fale-conosco{
    background-image: url('imagens/fale_conosco.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100vw;
}

.formulario{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ipt_email{
    height: 40px;
    width: 30%;
    margin-bottom: 5px;
}

.ipt_assunto{
    height: 150px;
    width: 30%;
    margin-bottom: 5px;
}

.btn-formulario{
    height: 40px;
    width: 30%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(93, 35, 35);
    cursor: pointer;
}

.btn-formulario:hover{
    text-decoration: underline;
}

                                /* RODAPÉ */
.rodape{
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(43, 27, 14);
}

.rodape a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.rodape a:hover{
    text-decoration: underline;
}

.img-rodape{
    background-image: url('imagens/navbar.png');
    height: 200px;
    width: 200px;
}

.link-secoes{
    display: flex;
    flex-direction: column;
}


                                /* LOGIN */
.body_login{
    background-image: url(imagens/login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.form_login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_login input{
    font-size: 20px;
    align-self: center;
    background-color: rgb(199, 199, 199);
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.btn_login{
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    height: 40px;
    width: 40%;
    background-color: rgb(192, 122, 64);
    border-radius: 15px;
    align-self: center;
    cursor: pointer;
    margin-top: 20px;
    cursor: pointer;
}

.btn_login:hover{
    text-decoration: underline;
}

.campo_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_pessoa{
    background-image: url(imagens/pessoa.png);
    height: 20px;
    width: 20px;
}

.img_cadeado{
    background-image: url(imagens/cadeado.png);
    height: 20px;
    width: 20px;
}


                                /* CADASTRO */
.body_cadastro{
    background-image: url(imagens/cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_cadastro{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.form_cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 20px;
    
}

.form_cadastro{
    background-color: white;
    color: rgb(43, 27, 14);
    height: 65vh;
    border-radius: 20px;
}

.form_cadastro input{
    width: 70%;
    align-self: center;
    background-color: rgb(199, 199, 199);
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.btn_cadastro{
    color: white;
    border: none;
    height: 40px;
    width: fit-content;
    background-color: rgb(192, 122, 64);
    border-radius: 15px;
    align-self: center;
    cursor: pointer;
}

.btn_cadastro:hover{
    text-decoration: underline;
}